* {
  margin: 0;
  padding: 0;
}

header {
  color: white;
  font-size: 28px;
  font-weight: 600;
  padding: 8px 15px;
}

header.admin-template {
  background-color: rgb(39, 28, 70);
}

header.auth-template {
  background-color: rgb(39, 28, 70);
}

header .logo,
header nav,
header nav ul li {
  display: inline-block;
}

header nav {
  float: right;
}

header nav ul li {
  margin-left: 8px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 21px;
}

header nav ul li a:hover,
header nav ul li a:visited,
header nav ul li a:active {
  color: white;
}

